<h3>School Class Form</h3>

<%= form_for(@student) do |f| %>
  <label>First name:</label><br>
  <%= f.text_field :first_name %><br>

  <label>Room number:</label><br>
  <%= f.number_field :room_number %><br>

  <%= f.submit %>
<% end %>
